body {
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: darkgreen;
    text-align: center;
}
button {
    color: dimgrey;
    border-color: beige;
}
nav {
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: medium;
    font-size: 20px;
}
div {
    display: flex;
    justify-content: space-around;
}